# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
v1/node_modules
v1/.pnp
v1/.pnp.*
v1/.yarn/*
!v1/.yarn/patches
!v1/.yarn/plugins
!v1/.yarn/releases
!v1/.yarn/versions

# testing
v1/coverage

# next.js
v1/.next/
v1/out/

# production
v1/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# v2 projec
v2/.next/
v2/node_modules
